<div class="p-3 footer-nav">
  <div class="pt-3 content mx-auto flex space-between border-top">
    <div class="my-2 align-items-center">
      <a class="header-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <span class="small ml-2">copyright © 2020. created by {{ site.author }}</span>
    </div>
    <div class="my-2">
      {% if site.instagram %}
      <a class="ml-3" href="{{ site.instagram }}">
        <div data-icon="ei-sc-instagram" data-size="s"></div>
      </a>
      {% endif %}
      {% if site.twitter %}
      <a class="ml-3" href="{{ site.twitter }}">
        <div data-icon="ei-sc-twitter" data-size="s"></div>
      </a>
      {% endif %}
      {% if site.facebook %}
      <a class="ml-3" href="{{ site.facebook }}">
        <div data-icon="ei-sc-facebook" data-size="s"></div>
      </a>
      {% endif %}
      {% if site.github %}
      <a class="ml-3" href="{{ site.github }}">
        <div data-icon="ei-sc-github" data-size="s"></div>
      </a>
      {% endif %}
    </div>
  </div>
</div>