<header class="width-sm-stretch px-3 py-2 header-nav header-background">
  <div class="my-2">
    <a class="header-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
  </div>
  <div class="my-2">
    <a class="header-link mr-2 ml-lg-2 mr-lg-0" href="#">About</a>
    <a class="header-link mr-2 ml-lg-2 mr-lg-0" href="#">Posts</a>
  </div>
</header>

<script>
  const header = document.querySelector("header");
  let lastScroll = 0;

  window.addEventListener("scroll", () => {
    const currentScroll = window.pageYOffset;
    if (currentScroll == 0) {
      header.classList.remove("reveal");
      return;
    }
    if (currentScroll > lastScroll && !header.classList.contains("hide")) {
      header.classList.remove("reveal");
      header.classList.add("hide");
    } else if (currentScroll < lastScroll && header.classList.contains("hide")) {
      header.classList.remove("hide");
      header.classList.add("reveal");
    }
    lastScroll = currentScroll;
  })
</script>