@import "variables";

/* Header */
.header {
  &-brand {
    font-weight: bold !important;
    color: $color-dark-gray;
  }

  &-link {
    font-weight: bold !important;
    color: $color-black;
    text-decoration: none !important;
    display: inline-block;

    &:after {
      content: "";
      display: flex;
      margin: 0 auto;
      height: $border-weight;
      background: $color-black;
      transition: width 0.3s ease 0s;
      width: 0;
    }

    &:hover:after {
      width: 100%;
    }
  }

  &-background {
    background-color: $header-color;
  }

  &-nav {
    display: flex;
    justify-content: space-between;
  }
}

/* Footer */
.footer {
  &-background {
    background-color: $color-lighter-gray;
  }

  &-nav {
    display: flex;
    justify-content: space-between;
  }
}

/* Banner */
.banner {
  &-text {
    font-size: $font-size * 4 !important;
  }

  &-background {
    background-color: $banner-color;
  }
}

/* Layout */
@media (max-width: $breakpoint-lg) {
  .width-sm-stretch {
    display: block !important;
    width: 100% !important;
  }
}

.content {
  max-width: $content-width;
}

.text-align-y {
  display: flex;
  align-items: center;
}

/* Columns */
@for $i from 1 to 8 {
  .col-#{$i} {
    width: ($i / 8 * 100%);
  }
}

/* Evil Icon styling */
.icon {
  fill: $color-black !important;
}

/* Borders */
.border {
  border-color: $border-color;
  &-0 { border: 0; }
  &-top { border-top: $border-weight solid; }
  &-bottom { border-bottom: $border-weight solid; }
}

/* Padding */
.p {
  &-0 { padding: 0; }
  &-1 { padding: $space-1; }
  &-2 { padding: $space-2; }
  &-3 { padding: $space-3; }
  &-4 { padding: $space-4; }
  &x {
    &-0 { padding-left: 0; padding-right: 0; }
    &-1 { padding-left: $space-1; padding-right: $space-1; }
    &-2 { padding-left: $space-2; padding-right: $space-2; }
    &-3 { padding-left: $space-3; padding-right: $space-3; }
    &-4 { padding-left: $space-4; padding-right: $space-4; }
  }
  &y {
    &-0 { padding-top: 0; padding-bottom: 0; }
    &-1 { padding-top: $space-1; padding-bottom: $space-1; }
    &-2 { padding-top: $space-2; padding-bottom: $space-2; }
    &-3 { padding-top: $space-3; padding-bottom: $space-3; }
    &-4 { padding-top: $space-4; padding-bottom: $space-4; }
  }
  &t {
    &-0 { padding-top: 0; }
    &-1 { padding-top: $space-1; }
    &-2 { padding-top: $space-2; }
    &-3 { padding-top: $space-3; }
    &-4 { padding-top: $space-4; }
  }
  &r {
    &-0 { padding-right: 0; }
    &-1 { padding-right: $space-1; }
    &-2 { padding-right: $space-2; }
    &-3 { padding-right: $space-3; }
    &-4 { padding-right: $space-4; }
  }
  &b {
    &-0 { padding-bottom: 0; }
    &-1 { padding-bottom: $space-1; }
    &-2 { padding-bottom: $space-2; }
    &-3 { padding-bottom: $space-3; }
    &-4 { padding-bottom: $space-4; }
  }
  &l {
    &-0 { padding-left: 0; }
    &-1 { padding-left: $space-1; }
    &-2 { padding-left: $space-2; }
    &-3 { padding-left: $space-3; }
    &-4 { padding-left: $space-4; }
  }
}

/* Margins */
.m {
  &-0 { margin: 0; }
  &-1 { margin: $space-1; }
  &-2 { margin: $space-2; }
  &-3 { margin: $space-3; }
  &-4 { margin: $space-4; }
  &x {
    &-auto { margin-left: auto; margin-right: auto; }
    &-0 { margin-left: 0; margin-right: 0; }
    &-1 { margin-left: $space-1; margin-right: $space-1; }
    &-2 { margin-left: $space-2; margin-right: $space-2; }
    &-3 { margin-left: $space-3; margin-right: $space-3; }
    &-4 { margin-left: $space-4; margin-right: $space-4; }
  }
  &y {
    &-0 { margin-top: 0; margin-bottom: 0; }
    &-1 { margin-top: $space-1; margin-bottom: $space-1; }
    &-2 { margin-top: $space-2; margin-bottom: $space-2; }
    &-3 { margin-top: $space-3; margin-bottom: $space-3; }
    &-4 { margin-top: $space-4; margin-bottom: $space-4; }
  }
  &t {
    &-0 { margin-top: 0; }
    &-1 { margin-top: $space-1; }
    &-2 { margin-top: $space-2; }
    &-3 { margin-top: $space-3; }
    &-4 { margin-top: $space-4; }
  }
  &r {
    &-0 { margin-right: 0; }
    &-1 { margin-right: $space-1; }
    &-2 { margin-right: $space-2; }
    &-3 { margin-right: $space-3; }
    &-4 { margin-right: $space-4; }
  }
  &b {
    &-0 { margin-bottom: 0; }
    &-1 { margin-bottom: $space-1; }
    &-2 { margin-bottom: $space-2; }
    &-3 { margin-bottom: $space-3; }
    &-4 { margin-bottom: $space-4; }
  }
  &l {
    &-0 { margin-left: 0; }
    &-1 { margin-left: $space-1; }
    &-2 { margin-left: $space-2; }
    &-3 { margin-left: $space-3; }
    &-4 { margin-left: $space-4; }
  }
}

/* Responsive Margin */
@media(min-width: $breakpoint-lg) {
  .m {
    &x-lg-auto { margin-left: auto; margin-right: auto; }
    &t-lg {
      &-0 { margin-top: 0; }
      &-1 { margin-top: $space-1; }
      &-2 { margin-top: $space-2; }
      &-3 { margin-top: $space-3; }
      &-4 { margin-top: $space-4; }
    }
    &r-lg {
      &-0 { margin-right: 0; }
      &-1 { margin-right: $space-1; }
      &-2 { margin-right: $space-2; }
      &-3 { margin-right: $space-3; }
      &-4 { margin-right: $space-4; }
    }
    &b-lg {
      &-0 { margin-bottom: 0; }
      &-1 { margin-bottom: $space-1; }
      &-2 { margin-bottom: $space-2; }
      &-3 { margin-bottom: $space-3; }
      &-4 { margin-bottom: $space-4; }
    }
    &l-lg {
      &-0 { margin-left: 0; }
      &-1 { margin-left: $space-1; }
      &-2 { margin-left: $space-2; }
      &-3 { margin-left: $space-3; }
      &-4 { margin-left: $space-4; }
    }
  }
}

/* images */
img.image {
  &-thumbnail {
    width: $img-width-sm;
    height: $img-height-sm;
    object-fit: cover;
    border-radius: $border-radius;
  }
}

/* display flex utils */
.flex {
  display: flex;

  &.space-between {
    justify-content: space-between;
  }
  &.align-center {
    align-items: center;
  }
}

// Not in use

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}
.clearfix:after { clear: both }
