$font-family: "Helvetica Neue", "Archivo", Arial, sans-serif;
$font-family-mono: "Inconsolata", "Consolas", monospace;
$font-size: 16px;

$border-weight: 2px;

$base-padding: 5px;

/* Breakpoints */
$breakpoint-sm: 576px;
$breakpoint-lg: 768px;

/* Spacing */
$base-space: 5px !default;

$space-1: $base-space !default;
$space-2: ($base-space * 2) !default;
$space-3: ($base-space * 3) !default;
$space-4: ($base-space * 4) !default;

/* Colors */
$color-black: black;
