/* Font */
$font-family-sans-serif: "Helvetica Neue", "Archivo", Arial, sans-serif;
$font-family-serif: "Libre Baskerville", serif;
$font-family-mono: "Inconsolata", "Consolas", monospace;
$font-size: 16px;

$post-font-size: 20px;

$h0-size: 80px;
$h1-size: 64px;
$h2-size: 48px;
$h3-size: 32px;
$h4-size: 24px;
$h5-size: 18px;
$h6-size: 14px;

/* Colors */
$color-black: black;
$color-dark-gray: #666666;
$color-light-gray: #cccccc;
$color-lighter-gray: #eeeeee;
$color-white: white;

$header-color: $color-white;

$banner-color: $color-light-gray;

$border-color: $color-black;
$border-weight: 3px;
$border-weight-thick: 10px;
$border-radius: 5px;

/* Typical sizes */
$content-width: 1024px;

$img-width-sm: 208px;
$img-height-sm: 117px;

/* Breakpoints */
$breakpoint-sm: 576px;
$breakpoint-lg: 768px;

/* Spacing */
$base-space: 5px !default;

$space-1: $base-space !default;
$space-2: ($base-space * 2) !default;
$space-3: ($base-space * 4) !default;
$space-4: ($base-space * 8) !default;
