/* Font */
$font-family-sans-serif: "Helvetica Neue", "Archivo", Arial, sans-serif;
$font-family-serif: "Libre Baskerville", serif;
$font-family-mono: "Inconsolata", "Consolas", monospace;
$font-size: 16px;

/* Colors */
$color-black: black;
$color-dark-gray: #666666;
$color-light-gray: #cccccc;
$color-white: white;

$header-color: $color-white;

$banner-color: $color-light-gray;

$border-color: $color-black;
$border-weight: 2px;

/* Typical sizes */
$content-width: 1024px;

/* Breakpoints */
$breakpoint-sm: 576px;
$breakpoint-lg: 768px;

/* Spacing */
$base-space: 5px !default;

$space-1: $base-space !default;
$space-2: ($base-space * 2) !default;
$space-3: ($base-space * 4) !default;
$space-4: ($base-space * 8) !default;
