@import "variables";
@import "utilities";

* {
  box-sizing: border-box !important;
}

body {
  font-family: $font-family-serif;
  font-size: $font-size;
  padding: 0;
  margin: 0;
}

header.header-nav {
  border-bottom: $border-weight solid $color-black;
  display: flex;
  justify-content: space-between;
}

header.header-nav .header-contents {
  display: table;
  box-sizing: border-box !important;
}
