<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <header class="width-sm-stretch px-3 py-2 header-nav header-background">
    <div class="my-2">
      <span class="header-brand">{{ site.title }}</span>
    </div>
    <div class="my-2">
      <a class="header-link mr-2 ml-lg-2 mr-lg-0" href="#">About</a>
      <a class="header-link mr-2 ml-lg-2 mr-lg-0" href="#">Posts</a>
    </div>
  </header>
  <div class="banner-background">
    <div class="content mx-auto p-3">
      <div class="py-4">
        <h1 class="banner-text col-6 py-4">{{ site.title }}</h1>
        <p class="pt-3 pb-4 col-3 border-top">{{ site.description }}</p>
      </div>
    </div>
  </div>
  <div class="content mx-auto p-3">
    <div class="py-4">
      <h1>Latest</h1>
    </div>
  </div>

</body>

</html>