---
layout: default
---
<div class="content-wrapper">
  <div class="content mx-auto p-3">
    <div class="py-4">
      <h1 class="col-4 mb-4">{{ page.title }}</h1>
      <div class="col-2 border-top-thick"></div>
      <div class="my-4 pb-4">
        {% if page.blurb %}
        <p class="mb-3">{{ page.blurb }}</p>
        {% endif %}
        <h5 class="secondary">{{ page.date | date: '%d %b %Y' }}</h5>
      </div>
      {% if page.image %}
      <img class="image-post" src="{{ page.image | prepend: site.baseurl }}"></a>
      {% endif %}
      <div class="flex py-4 my-4">
        <div class="col-2">
          {% if page.toc %}
          <div class="toc pr-2">
            <h4 class="pb-3 toc-title">Contents</h4>
            <div class="contents"></div>
          </div>
          {% endif %}
        </div>
        <div class="col-6 px-3 width-lg-stretch border-left">
          <div class="post">{{ content }}</div>
          <div class="mt-4 pt-4">
            {% include post-navigation.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/scrollnav@3.0.1/dist/scrollnav.min.umd.js"></script>
<script src="{{ site.baseurl }}/js/contentbar.js"></script>